body {
  font-family: monospace;
  background: #111;
  color: #eee;
  padding: 20px;
}

li {
  cursor: pointer;
  color: #6cf;
}

li:hover {
  text-decoration: underline;
}

pre {
  background: #222;
  padding: 15px;
  margin-top: 20px;
  max-height: 400px;
  overflow: auto;
}
